<div class="octava keyset">
    <div class="do whiteKey" [class.active]="pressed[cstart]" (click)="fakeEvent(cstart, $event)">
    </div>
    <div class="re whiteKey" [class.active]="pressed[cstart+2]" (click)="fakeEvent(cstart+2, $event)">
        <div class="re bemol" [class.active]="pressed[cstart+1]" (click)="fakeEvent(cstart+1, $event)"></div>
    </div>
    <div class="mi whiteKey" [class.active]="pressed[cstart+4]" (click)="fakeEvent(cstart+4, $event)">
        <div class="mi bemol" [class.active]="pressed[cstart+3]" (click)="fakeEvent(cstart+3, $event)"></div>
    </div>
    <div class="fa whiteKey" [class.active]="pressed[cstart+5]" (click)="fakeEvent(cstart+5, $event)">
    </div>
    <div class="sol whiteKey" [class.active]="pressed[cstart+7]" (click)="fakeEvent(cstart+7, $event)">
        <div class="sol bemol" [class.active]="pressed[cstart+6]" (click)="fakeEvent(cstart+6, $event)"></div>
    </div>
    <div class="la whiteKey" [class.active]="pressed[cstart+9]" (click)="fakeEvent(cstart+9, $event)">
        <div class="la bemol" [class.active]="pressed[cstart+8]" (click)="fakeEvent(cstart+8, $event)"></div>
    </div>
    <div class="si whiteKey" [class.active]="pressed[cstart+11]" (click)="fakeEvent(cstart+11, $event)">
        <div class="si bemol" [class.active]="pressed[cstart+10]" (click)="fakeEvent(cstart+10, $event)"></div>
    </div>
</div>
