<div class="octava keyset">
    <div class="do whiteKey">
    </div>
    <div class="re whiteKey">
        <div class="re bemol"></div>
    </div>
    <div class="mi whiteKey">
        <div class="mi bemol"></div>
    </div>
    <div class="fa whiteKey">
    </div>
    <div class="sol whiteKey">
        <div class="sol bemol"></div>
    </div>
    <div class="la whiteKey">
        <div class="la bemol"></div>
    </div>
    <div class="si whiteKey">
        <div class="si bemol"></div>
    </div>
</div>